/* Women Section */
.text-women {
  color: #720060 !important;
}

/* Tombol Buy Now */
.bg-women-btn {
  background-color: #720060 !important;
  color: white !important;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.bg-women-btn:hover {
  background-color: #942683 !important; /* Hover Buy Product */
}

/* Tombol Next Product */
.border-women {
  background-color: #720060 !important;
  color: white !important;
  cursor: pointer;
  transition: 0.3s;
}
.border-women:hover {
  background-color: #942683 !important; /* Hover Next Product */
}